.category {
    background-color: #f0f0f0;
    margin-top: 90px;
    &-heading {
        padding-top: 90px;
        h3 {
            &::before {
                background: #957051;
            }
        }
    }

    &-slider {
        padding-top: 90px;
        padding-bottom: 100px;
        margin: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        .slick-next, .slick-prev{
            top: 42%;
        }

    }

    &-image {
        height: auto;
        margin-bottom: 20px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &-title {
        font-size: 20px;
        color: $black-color;
    }
}
