body {
    font-size: 16px;
    font-weight: 400;
    font-family: $font-primary;
}
.wrapper {
    width: 100%;
    margin: auto;
}
.container-v1 {
    max-width: 1640px;
    margin: auto;
}
.container-v2 {
    max-width: 1400px;
    margin: auto;
}
.text-uppercase {
    font-family: $font-primary;
    text-transform: uppercase;
}
img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}
.fas {
    font-size: 16px;
}
.text-heading {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 48.5%;
        bottom: -15px;
        height: 1px;
        width: 68px;

    }
}
