.product {
    padding-top: 75px;
    &-title {
        text-align: center;
        color: $black-color;
        padding-bottom: 75px;
        font-size: 18px;
        font-family: inherit;
        font-weight: 400;
        letter-spacing: 3px;
    }
    &-heading {
        margin-bottom: 85px;
        h3 {
            &::before {
                background: #957051;
            }
        }
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
        color: $black-color;
    }
    &-item--content {
        padding-top: 25px;
    }
    &-text {
        color: #868686;
    }
    &-price {
        font-weight: bold;
        padding-top: 15px;
    }
   
}
